#header {
    display: flex;
    
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0px 0px 0px 0px;

    position: fixed;
    width: 100%;
    height: 246px;
    left: 0px;
    top: 0px;
    margin : 0px 0px;

    /* Header */

    background: linear-gradient(180deg, #9AE167 15.62%, rgba(188, 219, 206, 0) 68.23%, rgba(188, 219, 206, 0) 99.48%), #97E05E;
    opacity: 0.9;
}
#logo {
    position: static;
    width: 317px;
    height: 224px;
}

#logo_text {
    position: absolute;
    width: 311px;
    height: 75px;
    left: 0px;
    top: 139px;
    
    font-family: 'Paprika';
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    text-transform: capitalize;
    
    color: #7D7CB5;
}

#logo_image{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#navigation_bar{
position: static;
width: 870px;
height: 77px;


display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 0px 0px 10px;


}


.navigation_buttons{
    position: static;
    width: 300px;
    height: 59px;
    flex: none;
    order: 1;
    align-self: flex-end;
    flex-grow: 0;
    margin: -100px 50px;
/* Button Style */

background: linear-gradient(
    180deg, #FFE600 0%, rgba(210, 192, 30, 0) 100%),
     linear-gradient(0deg, #F8E311, #F8E311),
      linear-gradient(0deg, #F2E327, #F2E327),
       linear-gradient(0deg, #FFED01, #FFED01),
        linear-gradient(0deg, #FEEC03, #FEEC03),
         #F1DE1E;



    font-family: 'Roboto';
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    text-transform: capitalize;
    color: #000000;
}

#FAQ_Sign_UP_In{

display: flex;
flex-direction: column;
padding: 0px 0px 0px 0px;

position: absolute;
width: 88px;
height: 240.19px;
margin: 0px 0px;
right: 0px;



background: linear-gradient(180deg, #9AE167 15.62%, rgba(188, 219, 206, 0) 68.23%, rgba(188, 219, 206, 0) 99.48%), #97E05E;

flex: none;
order: 2;
align-self: center;
flex-grow: 0;
}



